
.list-title{
  font-size : 150%;
  padding: 10px;
  background-color: #787878;
  border-color: black;
  border: 1px;
  text-align: center;
  z-index: 2;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  white-space: pre-wrap;
  text-decoration: none;
  position: relative;
  display: block;
}
/*
.layer-list-item : last-child{
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.layer-list-item : first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}*/

.layer-list-item{
  padding: 6px;
  white-space: pre-wrap;
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  position: relative;
  display: block;
  margin-bottom: -1px;
}

.axis text {
  font-family: sans-serif;
  font-size: small;

}
.text{
  font-size : small;
}
.slider-handle{
  background-color: black;
}
.slider.slider-vertical{
  height : 70%
}
/*
.input-group {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
*/
input[type=checkbox], input[type=radio] {
    margin-right: 5px;
}

/*
.list-group-item.active:hover {
background-color: #787878;
}
*/


.property-list{
  padding: 5px;
  color: #FFFFFF;
  white-space: pre-wrap;
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
}


a {
  color: white;
  text-decoration: none;

}

a:hover {
  color: white;
  text-decoration: none;
}

.list-group {
  padding: 0px;
  white-space: pre-wrap;
  color: white;
  border-width: 0px;
}

.cesium-viewer-toolbar {
  z-index: 30;
}

.cesium-svgPath-svg.cesium-sceneModePicker-slide-svg {
  z-index: 30;
}

.cesium-svgPath-svg {
  z-index: 30;
}

.list-group-item.active {
  background-color: #787878;
  border-color: black;
  border: 1px;
  text-align: center;
  cursor:default;
}

.axis text {
  fill: white;
}

.axis line {
  stroke: white;
}

.axis path {
  stroke: white;
}

.wrapper {
    margin: 0 auto;
}

.column {
    float: left;
    width: 30%;
}


.left_toolbar_div {
        border-radius: 4px;
    border: 1px solid;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


* {
    padding: 0;
    margin: 0;
}

body {
    font: 16px/1 sans-serif;
}

.panel>.list-group .list-group-item {
    border-width: 0px;
}

.list-group-item.active.list-title {
    font-size: 20px;
    padding: 10px;
}

.context-menu {
  border : 1px solid rgb(255,255,255);
  color : white;
  text-align: center;
  font-size:100%;
  width : 100%;
  line-height: 100%;
  padding : 5px;
  cursor: pointer;
}
