@import url(../../Build/Cesium/Widgets/widgets.css);
@import url(../../Apps/Sandcastle/templates/bucket.css);
html,
body,
{
    height: 100%;
    margin-bottom: 0%;
    padding: 0;
    overflow: auto;
    position: absolute;
}

#cesiumContainer {
    width: 100%;
    position: relative;
    height: 100%;
    margin-bottom: 0%;
    padding: 0;
    overflow: auto;
    float: right;
    top: 0px;
    z-index: 1;
}

#left_toolbar_btn {
  position : absolute;
  z-index : 4;
  padding : 0;
  text-align: center;
  height : 45px;
  line-height: 45px;
}

#menu_list {
  height: 100%;
  display : -webkit-flex;
  display : flex;
  flex-direction:column;
}

#left_toolbar {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    z-index:3 ;
    width:15% ;
    position:absolute;
    height : 100% ;
    min-height:100%;
}

#property_panel {
    position: absolute;
    min-height: 30%;
    height: 30%;
    bottom: 0px;
    z-index: 3;
    float: left;
    overflow: auto;
    margin-bottom: 0px;
    width: 100%;
    text-decoration: none;
    color: white;
    visibility: hidden;
}

#layer_list {
    position: absolute;
    min-height: 20%;
    height: 30%;
    bottom: 0;
    z-index: 3;
    float: left;
    overflow: auto;
    margin-bottom: 0px;
    width: 100%;
    text-decoration: none;
    color: white;
}

#geoInfo {
    height: auto;
    position: absolute;
    float: right;
    right: 0px;
    top: 100px;
    z-index: 3;
}

#toolbar input {
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}

#checked_info {
    background: rgba(42, 42, 42, 0.8);
    padding: 2px;
    border-radius: 4px;
}

@import url(Sandcastle/templates/bucket.css);
#name_list {
    cursor: pointer;
}

#zoom {
    position: absolute;
    left: 88%;
    border : 0;
    z-index: 20;
    width: 4.5%;
    top: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    height: 50%;
    text-align: center;
    box-shadow : 0 ;
}

/*VERTICAL MENU*/

#serverState {
    position: relative;
    left: 57%;
    top: 50%;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    z-index: 10;
    color: black;
    font-size: xx-large;
}

.graph {
    position: absolute;
    bottom: 0px;
    height: 0%;
    z-index: 20;
    right: 0;
    width: 85%;
}


#featureName {
    z-index: 30;
    visibility: hidden;
    color: black;
    font-size: xx-large;
    position: absolute;
    top: 5%;
    left: 50%;
    text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}

#radar {
 top : 65%;
 position : absolute;
 right : 5px;
 background-color:rgba(0,0,0,0);
}

#drop_zone_bg {
  height : 100%;
  width : 100%;
  background-color: rgba(0,0,0,0.3);
  z-index : 49;
  position : absolute;
  top : 0;
  left : 0;
}

#drop_zone_close {
  display : table;
  height : 5%;
  width : 5%;
  background-color: transparent;
  z-index : 51;
  font-size: 100%;
  position : absolute;
  top : 6%;
  left : 88%;
  text-align : center;
  cursor: pointer;
}

#drop_zone {
  display : table;
  position : absolute;
  top:5%;
  left:5%;
  height : 90%;
  width : 90%;
  z-index : 50;
  background-color:rgba(255,255,255,0.3);
  font-size : 300%;
  border: 2px dashed #f69c55;
  text-align : center;
}


/* hide cesium button */
.cesium-viewer-geocoderContainer, .cesium-gecoder-input, .cesium-geocoder-searchButton, .cesium-baseLayerPicker-dropDown {
  width : 0;
  display: none;
}
button[title^=Bing]{
  display: none;
}

/* slider */
#slider_bar .slider-track-high, #slider_bar .slider-track-low {
  background: rgba(0,0,0,0.7);
}

/*upper toolbar*/
.upper_toolbar{
 position: absolute;
  z-index: 3;
  left: 16%;
  min-height: 36px;
  right: 150px;
  top: 0;
  background-color: rgba(0,0,0,1);
  border-radius: 5px;
}

#upper_toolbar{
  display: flex; 
}

#option{
  white-space: pre-wrap;
  justify-content: center;
  align-items: center; 
}

.upper_toolbar_btn{
  padding: 6px; 
  margin : 5px;
  width:18%;
  border:1px;
  white-space: pre-wrap;
  color: white;
  border-width: 0px;
  position: relative;
  display: block;
  flex:1;
  
  background-color: transparent;
  text-align:center;
}

.upper_toolbar_btn:hover{
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;  
  border-radius: 10px;
}

/* */
.time-query-date{
  font-size:small;
  display:block;
  padding : 2px;
  float:left;
  margin-left: 5px;
  margin-right:5px;
}

