.mfjson {
    position: absolute;
    z-index: 3;
    bottom: 0;
    top: 40px;
    right: 0;
    height: 90%;
    width: 40%;
    min-width: 400px;
    box-sizing: border-box;
    background-color: #fff;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    box-shadow: rgba(0,0,0,0.1) -2px 0px 0px;
}
.top .buttons {
    margin-left: 28px;
    height: 40px;
}
.top .buttons button {
    padding: 10px 15px;
    font-weight: normal;
    height: 40px;
    border: 0;
    vertical-align: top;

}

#editor {
    
    z-index: 3;
    width: 100%;
    height: 100%;
}

