<!DOCTYPE html>
<html>

<head>
  <title layout:fragment="title">PnTML (Map 3D/Moving Feature) - Login</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/js/login.css"/>
</head>

<body>
  <div id="login-form">
    <div class="container-main">
      <div class="login-name">
      <div>
        <label for="uname"><b>Username</b></label>
      </div>
      <div>
        <input id="user-name"type="text" placeholder="Enter Username" name="uname" value="gsrt4crt" required>
      </div>
    </div>
    <div class="login-password">
      <div>
        <label for="psw"><b>Password</b></label>
      </div>
      <div>
        <input id="user-password" type="password" placeholder="Enter Password" name="psw" value="Y]3>F2$//j|4>o2NTT|UB*0u2{Cf7R|HD=8" required>
      </div>
    </div>
    <div class="login-address">
      <div>
        <label for="sname"><b>ServerAddress</b></label>
      </div>
      <div>
        <input id="user-address" type="text" placeholder="Enter ServerAddress" name="address" value="https://dpsdev.aaic.hpcc.jp" required>
      </div>
    </div>
    </div>
    <div class="login-btn">
    <div>
      <button id="main-btn" type="submit">Login</button>
    </div>
    </div>
    <div class="login-btn">
    <div>
      <button id="main-btn2" type="submit">Move to main page</button>
    </div>
    </div>
    </div>
  </div>
  
</body>
<script>

    // function getCookie(data, name) {
    //   for(var i in data){
    //     var value = data[i].match('(^|;) ?' + name + '=([^;]*)(;|$)');
    //     // console.log(i)
    //     if (value){
    //       if (value[2] != ''){
    //         return value[2]
    //       }
    //     }else{
    //       continue
    //     }
    //   }
    //   return null
      
    // };
    function getCookie(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    }
    // var token = getCookie('XSRF-TOKEN')
    // var session_id = getCookie('SESSION')
    
    // if (token != null){
    //   alert(token)
    //   $.ajax({
    //         url: '/login',
    //         async: true,
    //         type: 'POST',
    //         data: {
    //           check: 0,
    //           token: token,
    //           address: "https://dpsdev.aaic.hpcc.jp/mf/jobs"
    //         },
    //         dataType: 'json',
    //         success: function(data){
    //           console.log(data)
    //         },
    //         error: function(err){
    //             alert("보내기 실패" + err);
    //         }
    //     });
    // }
    $("#main-btn").click(function(){
        $.ajax({
            url: '/login',
            async: true,
            type: 'POST',
            data: {
                address: $("#user-address").val(),
                name: $("#user-name").val(),
                password: $("#user-password").val()
            },
            dataType: 'json',
            success: function(data){
                console.log(data)
                console.log(data.server)
                if (data.server){
                  alert("Login Succeed");
                  location.href="/dataSelect";
                }else{
                  alert("Login Failed");
                }
                // location.href="/main";
            },
            error: function(err){
                alert("Login Failed" + err);
            }
        });
    });
    $("#main-btn2").click(function(){
      document.cookie = "LoginChecker="+2
      location.href="/main";
    });
</script>
</html>



<!-- 
<div layout:fragment="content" class="content login">
    
  <div class="login-main">
    <div class="title">PnTML (Map 3D/Moving Feature)</div>
    <div class="alert-message">
      <p></p>
    </div>
    <div class="login-form">
      <div class="login-address">
          <div class="login-text">
            <input id="user-address" type="text" name="address" value="https://dpsdev.aaic.hpcc.jp/pntml" placeholder="ServerAddress">
          </div>
          <div class="alert-label">ServerAddress is required!</div>
        </div>
      <div class="login-name">
        <div class="login-text">
          <input id="user-name" type="text" name="name" value="dprt4csm" placeholder="Username">
        </div>
        <div class="alert-label">Username is required!</div>
      </div>
      <div class="login-password">
        <div class="login-text">
          <input id="user-password" type="password" value="wDX>{V5)82ts#4qNz2x+M'-HyFF~qhZt-0y" name="password"
            placeholder="Password"></div>
        <div class="alert-label">Password is required!</div>
      </div>
      <div id="post-login" class="post-button enabled" tabindex=0>
        <p>Log in</p>
      </div>
     
      </div>
    </div>
  </div>
</div> -->